<h2 style="text-align:center ; padding: 1%;" >Realizar informe de la cita</h2>

<div class="card" style="width: 50%; margin-left: 25%; margin-right: auto;">
  <div class="mb-3" style="padding: 1%;">

    <div class="form-outline mb-4">
        <label class="form-label" for="typeEmailX-2">DNI del Cliente:</label>
        <input type="text" id="dniCliente" text="hola" class="form-control form-control-lg"  />
       
      </div>
      <div class="form-outline mb-4">
        <label class="form-label" for="typeEmailX-2">Id del trabajador:</label>
        <input type="text" id="dniCliente" text="hola" class="form-control form-control-lg"  />
       
      </div>
      <div class="form-outline mb-4">
        <label class="form-label" for="typeEmailX-2">Dirección donde se realizado la visita:</label>
        <input type="text" id="direccionCliente" class="form-control form-control-lg" />
       
      </div>
      <div class="form-outline mb-4">
        <label class="form-label" for="typeEmailX-2">Suelo elegido por el cliente:</label>
        <input type="text" id="interesSuelo" class="form-control form-control-lg"  />
       
      </div>
      <div class="form-outline mb-4">
        <label class="form-label" for="typeEmailX-2">Pintura elegido por el cliente:</label>
        <input type="text" id="interesPintura" class="form-control form-control-lg" />
       
      </div>
      <div class="form-outline mb-4">
        <label class="form-label" for="typeEmailX-2">Rodapié elegido por el cliente:</label>
        <input type="text" id="interesRodapie" class="form-control form-control-lg" />
       
      </div>
      <div class="form-outline mb-4">
        <label class="form-label" for="resumenvisita">Descripción:</label>
        <textarea id="resumenvisita" style="float: inline-end; width: 100%;" value="prueba cita 1"></textarea>
       
      </div>

      <button type="button" class="btn btn-success" style="width: 30%; margin-left: 35%;" [routerLink]="['/logueado/Citas']">Registrar</button>

  </div>
  </div>