<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/logueado/Acerca']">IncSilence</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/logueado/Clientes']">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/logueado/Citas']">Citas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/logueado/Suelos']">Suelos</a>
        </li><li class="nav-item">
          <a class="nav-link" [routerLink]="['/logueado/Pinturas']">Pintura</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/logueado/Rodapies']">Rodapiés</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link disabled">Facturas</a>
        </li>
        
      </ul>
     
      
    </div>
    <a class="nav-link" style="float: right;" [routerLink]="['/logueado/Trabajadores']">Trabajadores</a>
    <a class="nav-link" style="float: right;" [routerLink]="['/login']">Salir</a>
  </div>
</nav>

<button type="button" class="btn btn-primary" style="margin-left: 25%; margin: 1%; width: 5%; margin-left: 70%;"[routerLink]="['/logueado/Clientes/Añadir']" >Añadir</button>
  <div style="margin-left: 25%; margin-right: 25%; padding-top: 1%; padding-bottom: 1%; ">
    <div class="card" *ngFor="let cliente of clientes" style="padding: 0,5%;">
      <div class="card-body">
        
          
            <div style="width: 30%; float: left;" >
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1200px-User_icon_2.svg.png" style=" width: 70%;  " >
              
            </div>
                <div style="text-align: left; width: 40;  float: left;">
                  ID: {{cliente.id}}
                  <br>
                  Nombre: {{cliente.nombre}}
                  <br>
                  Apellidos: {{cliente.apellidos}}
                  <br>
                  DNI/CIF: {{cliente.dni_cif}}
                  <br>
                  Email: {{cliente.email}}
                  <br>
                  Dirección: {{cliente.direccion}}
                  <br>
                  Segunda dirección: {{cliente.segundireccion}}
                  <br>
                  Teléfono: {{cliente.telefono}}
            </div>
            <button type="button" class="btn btn-primary" style="width: 20%; float:right; padding: 1%; margin: 1%;" [routerLink]="['/logueado/Clientes/Update', cliente.id]">Editar</button> 
               
        
      </div>
      
    </div>

  </div>
  